app a{
    color: rgb(0, 148, 255);
    cursor: pointer;

}
app a:hover{
    text-decoration: underline;
}
.bold-span{
    font-weight: bold;
    font-size: 15pt;
    color:black
}
.path{
    color: rgb(150,150,150);
}
.directory{
    border:1px solid rgb(150,150,150);
    background-color: whitesmoke;
}
table{
    margin: 0 auto;
}
table, th , td  {
  border: 1px solid rgb(200, 200, 200);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table thead td{
    background-color: rgb(200, 200, 200);
    color: white;
    font-weight: bold;
}
